.brand-home-main {
  display: flex;
  justify-content: space-evenly;
}

.brand-home-one {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.recent-campaigns-wrapper {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  padding: 30px;
}

.home-add-title-wrapper {
  padding-left: 15px;
}

.home-job-add {
  background-color: #eeeeee;
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
}

.brand-home-left-container {
  width: 60%;
}

.home-add-title {
  color: #685f62;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-add-description {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 10px;
}

.myplan-features-text {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 10px;
}

.home-job-start {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 16px;
  border-radius: 25px;
}

.brand-home-title-flex {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

.view-all-text {
  color: #685f62;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.campaign-features {
  display: flex;
  justify-content: space-between;
}

.campaigns-wrapper-one {
  // display: flex;
  // justify-content: space-between;
  border-bottom: 1px solid #bab4b4;
  padding-bottom: 25px;
}

.campaign-features-wrapper {
  display: flex;
}

.campaign-icons-wrapper {
  background-color: #ffffff;
  border: 1px solid #9d9696;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.campaign-features-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.campaign-features-count {
  color: #c2114b;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.campaigns-content-wrapper {
  // padding-left: 20px;
}

.campaign-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.campaign-description {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0px;
  line-height: normal;
}

.campaign-initial {
  background-color: #c2114b;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.campaign-company-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding-left: 8px;
  line-height: normal;
}

.my-plan-contents {
  padding: 20px;
}

.my-plan {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  padding-left: 8px;
  line-height: normal;
}

.campaign-company-wrapper {
  display: flex;
  align-items: center;
}

.campaign-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.view-campaign {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 6px 12px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-radius: 25px;
}

.post-work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 6px 12px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
}

.preview-work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  padding: 6px 12px;
  cursor: pointer;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-radius: 4px;
}

.bi-eye-fill {
  font-size: 14px;
}

.view-campaign-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-left: 8px;
  line-height: normal;
  cursor: pointer;
}

.post-campaign-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.post-work-icon {
  padding-right: 8px;
  font-size: 16px;
}

.preview-campaign-text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.brand-plan-section {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  padding: 0px;
  margin-top: 30px;
}

.plan-backdrop-image {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 200px;
}

.contact-section-main {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  padding: 30px;
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 30px 30px;
    .contact-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c2114b;
      border-radius: 50%;
      padding: 25px;
    }
    .contact-q,
    .contact-description {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 15px 0px;
      margin-bottom: 0px;
    }
    .contact-description {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .top-brands-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    .top-brands-title,
    .view-all-brands {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 15px 0px;
    }
    .view-all-brands {
      cursor: pointer;
      color: gray;
      font-size: 17px;
    }
  }
  .top-brands-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .top-brands-wrapper {
      width: 30%;
      padding: 10px;
      cursor: pointer;
      .top-brand-img-wrapper {
        .top-brand-img {
          width: 100%;
        }
      }
      .top-brands-name {
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        word-break: break-all;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}

.brand-home-right-container {
  width: 30%;
}

.myplan-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.contact-btn {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #bab4b4;
}

.campaign-paid-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 25px 0px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 250px;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .brand-sidebar {
    width: 30% !important;
  }
  .brand-main-container {
    padding-left: 31%;
  }
  .brand-home-main {
    display: flex;
    flex-direction: column;
  }
  .brand-home-left-container {
    width: 100%;
  }
  .brand-home-right-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
  }
  .brand-plan-section {
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
    padding: 0px;
    margin-left: 20px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .brand-menu-wrapper {
    margin-top: 0px !important;
    margin-bottom: 15px;
  }
  .talent-profile {
    display: none;
  }
  .brand-sidebar-container {
    padding: 10px 15px;
  }
  .brand-main-container {
    padding: 90px 15px;
    // transition: padding 0.4s;
    background-color: #eeeeee;
    padding-bottom: 30px;
    // height: 100%;
    margin-bottom: 40px;
  }
  .sidemenu-active {
    margin-top: 0px !important;
    margin-bottom: 15px;
  }
  .not-sidebar {
    display: none;
  }
  .brand-home-main {
    display: block;
    justify-content: space-evenly;
  }
  .brand-home-left-container {
    width: 100%;
  }
  .campaign-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .brand-content-main {
    padding: 20px;
    width: 100%;
  }
  .brand-home-one {
    padding: 10px;
  }
  .home-job-add {
    border-radius: 12px;
    padding: 12px;
  }
  .home-add-title {
    font-size: 14px;
  }
  .home-add-description {
    font-size: 12px;
  }
  .home-job-start {
    padding: 8px 16px;
    border-radius: 10px;
  }
  .brand-home-right-container {
    width: 100%;
    margin-top: 20px;
  }
  .campaign-company-name {
    font-size: 13px;
  }
  .campaign-paid-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
  }
  .campaign-features-wrapper {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
  }
  .campaign-icons-wrapper {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .recent-campaigns-wrapper {
    padding: 30px;
  }

  .campaign-company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 0px 0px;
    flex-wrap: wrap;
  }
  .campaign-company-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}
