.talents-carousel-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  padding-bottom: 20px;
}

.talents-post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.talents-post-details > .talents-likes {
  color: #373737;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.talents-post-details > .talents-date {
  color: #c2114b;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.talents-post-content {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: start;
  padding-top: 18px;
}

.talents-carousel-post-wrapper {
  width: 100%;
  margin: 0 18px 0px 0px;
  font-size: 4em;
}

.dsyKYi,
.jsGVec {
  display: none !important;
}

.glAxCh {
  background-color: #c2114b !important;
  box-shadow: 0 0 1px 3px rgb(0 0 0) !important;
}
