section {
  /* border: 1px solid red; */
}

a.active {
  max-width: 110px;
  height: 30px;
  border-radius: 140px;
  background: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  padding: 15px;
}

.hide-nav {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.gallery-position {
  position: relative;
}

@media (max-width: 475px) {
  .input-style::placeholder {
    padding-left: 15px;
    color: #fff !important;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  ::placeholder {
    color: #000000 !important;
    opacity: 0.7 !important;
    font-family: "Montaga";
    font-size: 16px;
    font-weight: 400;
  }
  .fa-bars {
    cursor: pointer;
    font-size: 40px;
  }
  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    align-self: flex-start;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #d4d4d8;
    background-color: #fff;
    z-index: 9;
    width: 475px;
  }

  .mobile-nav-content > div {
    margin: 12px 0px;
  }

  .mobile-nav-content {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-text {
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .signup {
    border-radius: 140px;
    background: linear-gradient(90deg, #030303 6.98%, #000 65.92%);
    color: #fff;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup {
    width: 80px;
    height: 30px;
  }

  .desktop-header {
    display: none;
  }

  .section-1 {
    background-color: black !important;
    height: 325px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url("../images/section1.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 100%; */
  }

  .find-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 20px 12px;
  }

  .section-title {
    color: #fff;
    font-family: "Montagu Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .section-description {
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
  }

  .Join-wrapper {
    width: 100px;
    height: 33px;
    border-radius: 140px;
    background: #c2124b;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }
  .Join-wrapper > div {
    color: #fff;
    font-size: 14px;
  }

  .white-joinnow > div {
    color: #fff;
    font-size: 14px;
  }

  .white-joinnow {
    border-radius: 140px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    width: 100px;
    height: 33px;
    margin-top: 15px;
    cursor: pointer;
  }

  .title {
    color: #000;
    font-family: "Montagu Slab";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 30px 0px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tabs > div {
    margin: 10px;
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }

  .active-tab {
    width: 70px;
    height: 30px;
    border-radius: 140px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
  }

  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    justify-content: center;
  }

  .gallery-section > div {
    margin: 10px;
  }

  .gallery-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 150px;
  }

  .heart-icon {
    position: absolute;
    top: 6px;
    left: 120px;
    cursor: pointer;
  }

  .gallery-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0px;
  }

  .name {
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .address {
    color: #000;
    font-family: "Montaga";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
  }
  .card-wrapper {
    width: 180px;
    height: 130px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .card-background {
    border-radius: 24px;
    background: #f1f1f1;
  }
  .count {
    color: #c2114b;
    font-family: "Montaga";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .cards-text {
    color: #000;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
  }

  .card-picture {
    border-radius: 104px;
    border: 1px solid #fff;
    background: linear-gradient(0deg, #000 0%, #000 100%),
      linear-gradient(90deg, #c2114b 6.98%, #1898e1 65.92%);
    width: 50px;
    height: 50px;
    padding: 30px;
  }
  .cards-description {
    color: #000;
    text-align: center;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    padding-top: 8px;
  }
  .case-images {
    border-radius: 12px;
    width: 150px;
  }
  .carousel-section {
    border: 1px solid #c2114b;
    height: 526px;
    padding: 10px;
    margin-top: 60px;
  }
  .carousel-title {
    color: #fff;
    font-family: "Montaga";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 0px 15px 0px;
  }
  .box-one {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
  }
  .carousel-img {
    width: 275px;
    height: 315px;
    border-radius: 16px;
    border: 1px solid white;
  }
  .box-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
  }
  .quote > img {
    width: 20px;
    height: 20px;
  }
  .carousel-description {
    color: #fff;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .box-two {
    display: none;
  }
  .profile-section {
    display: flex;
    padding: 10px 0px !important;
  }

  .profile-content {
    padding-left: 15px;
  }

  .profile-name {
    color: #fff;
    font-family: "Montaga Slab";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .profile-info {
    color: #fff;
    font-family: "Montaga";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
  }

  .carousel-icons {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .brands-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 15px;
  }

  .brands-section > div {
    padding: 18px 10px;
  }

  .brands-section > div > img {
    width: 80px;
  }
  .form-section {
    width: 355px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
  }
  .form-title {
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 114.286% */
  }
  .form-fields {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .form-fields > input {
    margin: 15px 0px;
  }
  .input-style {
    width: 250px !important;
    height: 48px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin-right: 20px;
    color: #fff !important;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .subscribe-btn {
    display: flex;
    width: 250px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border-radius: 100px;
  }
  .main-form {
    display: flex;
    justify-content: center;
  }
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px 0px;
  }
  .footer-wrapper > div {
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .company-info {
    width: 200px;
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 0px 20px 0px;
  }
  .footer-title {
    color: #c2114b !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
  .copyright-section {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e8f0;
  }

  .copyright-section > div {
    color: #000;
    font-family: "Montaga";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .question-model {
    color: #000;
    font-family: "Montagu Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    padding: 30px;
    text-align: center;
  }
  .register-modal {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .register-btn {
    width: 150px;
    height: 50px;
    border-radius: 161px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    cursor: pointer;
  }
  .model-btn {
    width: 150px;
    height: 50px;
    border-radius: 6px;
    background: #c2114b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    cursor: pointer;
  }
  .seeker-btn {
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-description {
    color: #000;
    text-align: center;
    font-family: "Montaga";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 60px;
  }
  .modal-title {
    color: #c2114b;
    font-family: "Montagu Slab";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
  }
  .modal-wrapper {
    max-width: 475px !important;
    max-height: 569px !important;
  }
  .modal-logo {
    padding-right: 20px;
  }
  .step-text {
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;
    height: 47px;
    color: #060606;
    font-family: "Montaga";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .step-title {
    color: #000;
    font-family: "Montagu Slab";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
  }

  .step-description {
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0px 30px 0px;
    text-align: center;
  }
  .step-selection {
    margin: 10px 20px;
  }

  .step2-selection {
    display: flex;
    justify-content: center;
  }

  .step-section-1 {
    margin-right: 25px;
  }

  .step-input {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .step-select {
    /* background: #FFF; */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px 0px;
  }

  .select-wrapper {
    display: flex;
    align-items: center;
    width: 390px;
    height: 55px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10px 0px;
  }

  .select-text {
    color: #000;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
  }

  .step-back {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    font-family: "Montaga";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  .step-continue {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #c2114b;
    color: #fff;
    font-family: "Montaga";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  .upload-step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-wrapper {
    width: 320px;
    height: 50px;
    background: #0e0e0e;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .upload-text {
    color: #fff;
    font-family: "Montagu Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .import-wrapper {
    width: 320px;
    height: 55px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
  }

  .import-text {
    color: #0e0e0e;
    font-family: "Montagu Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }
}

@media (min-width: 476px) {
  .mobile-navbar {
    display: none;
  }
  .step2-selection {
    display: flex;
    justify-content: center;
  }

  .step-section-1 {
    margin-right: 25px;
  }

  .step-input {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .step-select {
    /* background: #FFF; */
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 20px 0px;
  }

  .select-wrapper {
    display: flex;
    align-items: center;
    width: 500px;
    height: 55px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10px 0px;
  }

  .select-text {
    color: #000;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
  }

  .step-back {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    font-family: "Montaga";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  .step-continue {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #c2114b;
    color: #fff;
    font-family: "Montaga";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  .upload-step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-wrapper {
    width: 350px;
    height: 50px;
    background: #0e0e0e;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .upload-text {
    color: #fff;
    font-family: "Montagu Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .import-wrapper {
    width: 350px;
    height: 55px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
  }

  .import-text {
    color: #0e0e0e;
    font-family: "Montagu Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .step-selection {
    margin: 10px 50px;
  }

  .step-description {
    color: #000;
    font-family: "Montaga";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0px 30px 0px;
    text-align: center;
  }
  .step-title {
    color: #000;
    font-family: "Montagu Slab";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
  }
  .step-text {
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;
    height: 47px;
    color: #060606;
    font-family: "Montaga";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .modal-logo {
    padding-right: 20px;
  }

  .question-model {
    color: #000;
    font-family: "Montagu Slab";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    padding: 40px;
    text-align: center;
  }
  .register-modal {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .register-btn {
    width: 231px;
    height: 62px;
    border-radius: 161px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    cursor: pointer;
  }
  .model-btn {
    width: 221px;
    height: 52px;
    border-radius: 6px;
    background: #c2114b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    cursor: pointer;
  }
  .seeker-btn {
    width: 221px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Montaga";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    cursor: pointer;
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-description {
    color: #000;
    text-align: center;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding: 20px 60px;
  }
  .modal-title {
    color: #c2114b;
    font-family: "Montagu Slab";
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
  }
  .modal-wrapper {
    max-width: 699px !important;
    max-height: 569px !important;
  }
  .copyright-section {
    margin: 30px 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e8f0;
  }

  .copyright-section > div {
    color: #000;
    font-family: "Montaga";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  .footer-title {
    color: #c2114b !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
  .company-info {
    width: 200px;
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 0px 20px 0px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer-wrapper > div {
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .footer-section {
    display: flex;
    justify-content: space-around;
  }
  .main-form {
    display: flex;
    justify-content: center;
  }
  .subscribe-btn {
    display: flex;
    width: 250px;
    height: 54.135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border-radius: 100px;
  }
  .input-style {
    width: 250px !important;
    height: 54.135px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin-right: 20px;
    color: #fff !important;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .form-fields {
    display: flex;
    padding-top: 25px;
  }

  .form-title {
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 114.286% */
  }
  .form-section {
    border-radius: 20px;
    width: 1266px;
    height: 287px;
    /* background-color: #C2114B; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
  }
  .brands-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .brands-section > div > img {
    width: 80px;
  }
  .carousel-icons {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
  }
  .profile-info {
    color: #fff;
    font-family: "Montaga";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
  .profile-name {
    color: #fff;
    font-family: "Montaga Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .profile-content {
    padding-left: 15px;
  }

  .profile-section {
    display: flex;
  }
  .carousel-description {
    color: #fff;
    font-family: "Montaga";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
  }
  .quote > img {
    width: 20px;
    height: 20px;
  }
  .box-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
  }
  .carousel-img {
    width: 252px;
    height: 315px;
    border-radius: 16px;
    border: 1px solid white;
  }
  .box-one,
  .box-two {
    display: flex;
    width: 500px;
  }
  .carousel-title {
    color: #fff;
    font-family: "Montaga";
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 0px 40px 0px;
  }
  .carousel-section {
    border: 1px solid #c2114b;
    height: 524px;
    padding: 40px;
    margin-top: 60px;
  }
  .case-images {
    border-radius: 12px;
    width: 240px;
  }
  .cards-description {
    color: #000;
    text-align: center;
    font-family: "Montaga";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    padding-top: 8px;
  }

  .card-picture {
    border-radius: 104px;
    border: 1px solid #fff;
    background: linear-gradient(0deg, #000 0%, #000 100%),
      linear-gradient(90deg, #c2114b 6.98%, #1898e1 65.92%);
    width: 50px;
    height: 50px;
  }
  .cards-text {
    color: #000;
    font-family: "Montaga";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
  }
  .count {
    color: #c2114b;
    font-family: "Montaga";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .card-background {
    border-radius: 24px;
    background: #f1f1f1;
  }
  .card-wrapper {
    width: 350px;
    height: 150px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
  }

  .section-1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.11%, #000 100%);
    height: 570px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url("../images/section1.png");
    /* background-size: contain;
    background-repeat: no-repeat; */
    width: 100%;
    /* height: 100; */
  }

  .address {
    color: #000;
    font-family: "Montaga";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .name {
    color: #000;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .gallery-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0px;
  }
  .heart-icon {
    position: absolute;
    top: 10px;
    left: 165px;
    cursor: pointer;
  }

  .gallery-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 200px;
  }

  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
  }

  .gallery-section > div {
    margin: 10px;
  }
  .active-tab {
    width: 86px;
    height: 40px;
    border-radius: 140px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tabs > div {
    margin: 20px;
    color: #000;
    font-family: "Montaga";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
  }

  .title {
    color: #000;
    font-family: "Montagu Slab";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 40px 0px;
  }

  .white-joinnow > div {
    color: #fff;
  }

  .white-joinnow {
    border-radius: 140px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    width: 120px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
  }
  .Join-wrapper {
    width: 120px;
    height: 40px;
    border-radius: 140px;
    background: #c2124b;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }

  .Join-wrapper > div {
    color: #fff;
  }

  .section-description {
    color: #fff;
    text-align: center;
    font-family: "Montaga";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
  }

  .section-title {
    color: #fff;
    font-family: "Montagu Slab";
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .find-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .mobile-section {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    top: 0;
    position: sticky;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    border-bottom: 1px solid #d4d4d8;
  }

  .icon {
    padding-left: 30px;
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-items > div {
    color: #000;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    padding-right: 50px;
    text-decoration: none;
  }

  .header-functions {
    display: flex;
    align-items: center;
  }

  .header-functions > div {
    margin-right: 20px;
    cursor: pointer;
  }

  .gridLogo {
    width: 40px;
    height: 40px;
    background-color: #c2114b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .signup {
    border-radius: 140px;
    background: linear-gradient(90deg, #030303 6.98%, #000 65.92%);
    color: #fff;
    font-family: "Montaga";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 40px;
  }
  .input-style::placeholder {
    padding-left: 15px;
    color: #fff !important;
    font-family: "Montaga";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  ::placeholder {
    color: #000000 !important;
    opacity: 0.7 !important;
    font-family: "Montaga";
    font-size: 16px;
    font-weight: 400;
  }
}
