@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

.btLogo {
  cursor: pointer;
}

.case-img {
  width: 100%;
  border-radius: 18px;
}

.case-warpper {
  width: 20%;
  margin: 20px;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #c2114b;
  border-color: #c2114b;
}

.form-control,
.form-select {
  height: 50px !important;
}

.css-13cymwt-control {
  height: 50px !important;
}

.select-text {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
  cursor: auto;
}

.select-text-only {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0px;
  cursor: auto;
  /* width: 380px; */
}

.absolute-input {
  height: 55px;
  border: none;
  outline: none;
}

.select-wrapper {
  display: flex;
  align-items: center;
  width: 600px;
  height: 55px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 8px 0px;
}

.email-input {
  justify-content: unset;
}

label {
  font-size: 14px;
  color: rgb(175, 175, 175);
}

.dialog-footer {
}

.dialog-footer {
  border-top: 1px solid rgb(173, 173, 173);
  display: flex;
  justify-content: end;
  padding: 20px 20px 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
}

.dialog-body {
  overflow: scroll;
  height: 760px;
  overflow: auto;
}

.modal-logo {
  padding-right: 30px;
  cursor: pointer;
}

.step-wrapper {
  display: flex;
}

.user-details {
  display: flex;
  padding-top: 8px;
}
.location-wrapper {
  display: flex;
  padding-right: 10px;
  align-items: center;
}
.location-wrapper > img {
  width: 15px;
  height: 15px;
}
.chatbot-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: yellow;
  position: fixed;
  top: 92%;
  left: 94%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-icon {
  width: 22px;
  height: 23px;
}

.more-text {
  color: #c2114b !important;
}

.age-button {
  border-radius: 161px !important;
  border: 1px solid #000;
  background: #000;
}

.password-wrapper {
  justify-content: space-between;
}

.joinnow-text {
  color: #ffffff;
}
.joinnow-text:hover {
  color: #ffffff;
}

.brand-section > .brand-title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.brand-section > p > span {
  color: #c2114b;
}

.brand-section > .brand-description {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.brand-options {
  justify-content: space-evenly;
  padding-top: 20px;
  /* background-color: lightblue; */
  width: 100%;
  display: flex;
}

.join-talent-section {
  /* background-color: blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hire-talent-section {
  /* background-color: rgb(26, 26, 0); */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="checkbox"]:checked {
  accent-color: #c2114b !important;
  color: #ffffff !important;
}

.btn-logo {
  padding-left: 100px;
  cursor: pointer;
}

.box {
  max-width: 288px;
  width: 100%;
}
.box .search-box {
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: 0 0 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
#check:checked ~ .search-box {
  max-width: 380px;
}
.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}
.search-box .icon {
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #c2114b;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}
#check:checked ~ .search-box .icon {
  background: #c2114b;
  color: #fff;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#check {
  display: none;
}

a.active {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2114b !important;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.gallery-position {
  position: relative;
}

.rating {
  position: absolute;
  background-color: #fff;
  border-radius: 30px;
  padding: 4px;
  top: 180px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating > img {
  width: 8px;
  height: 8px;
  margin: 0px 2px;
}

.card-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px 0px;
  text-align: center;
  margin: 0 !important;
}

.modal-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.register-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.absolute-input {
  height: 55px;
  border: none;
  outline: none;
}

.input-icons {
  width: 22px;
  height: 22px;
}

.or-signup {
  color: #858597;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 15px 0px;
}

.stroke-div {
  width: 103.5px;
  height: 0.5px;
  flex-shrink: 0;
  stroke-width: 0.5px;
  stroke: #b8b8d2;
}

.stroke-wrapper {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 480px) {
  .step2-selection {
    display: flex;
    justify-content: center;
  }

  .step-section-1 {
    margin-right: 25px;
  }

  .step-input {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .step-select {
    /* background: #FFF; */
    margin: 20px 0px;
    border: none;
  }

  .select-text {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 20px;
    cursor: auto;
    width: 100%;
  }

  .password-input {
    width: unset !important;
  }

  .select-text-only {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 0px;
    cursor: auto;
    width: 100%;
  }

  .step-back {
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ageverify-buttons {
    padding-bottom: 40px;
  }

  .step-continue {
    width: 140px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #c2114b;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .disabled-continue {
    background: #ccc; /* Change the background color for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
  }

  .upload-step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-wrapper {
    width: 350px;
    height: 50px;
    background: #0e0e0e;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .upload-text {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .import-wrapper {
    width: 350px;
    height: 55px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
  }

  .import-text {
    color: #0e0e0e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .step-description {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 10px 0px 30px 0px;
    text-align: center;
  }
  .step-title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 40px 0px;
  }
  .step-text {
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;
    height: 47px;
    color: #060606;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .question-model {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    padding: 40px;
    text-align: center;
  }
  .register-modal {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .register-btn {
    width: 170px;
    height: 45px;
    border-radius: 161px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    cursor: pointer;
  }
  .selected-register {
    width: 221px;
    height: 52px;
    border-radius: 6px;
    background: #c2114b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    cursor: pointer;
  }
  .choose-register {
    width: 221px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    cursor: pointer;
    margin-right: 25px;
  }
  .modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-description {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    padding: 20px 60px;
  }
  .modal-title {
    color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
    margin-top: 50px;
  }
  .ageverify-title {
    color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 30px 0px 50px 0px;
  }
  .modal-wrapper {
    width: 100% !important;
    height: 100% !important;
  }
  .copyright-section {
    margin: 30px 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e8f0;
  }

  .copyright-section > div {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }
  .footer-title {
    color: #c2114b !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
  .company-info {
    width: 200px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    padding: 20px 0px 20px 0px;
  }

  .footer-section {
    display: flex;
    justify-content: space-around;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer-wrapper > div {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
  }

  .main-form {
    display: flex;
    justify-content: center;
  }

  .form-title {
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 114.286% */
  }
  .get-discover {
    font-size: 27px;
  }
  .form-section {
    border-radius: 20px;
    width: 80%;
    min-height: 250px;
    /* background-color: #C2114B; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
  }
  .brands-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .brands-section > div > img {
    width: 80px;
  }
  .carousel-icons {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
  }
  .profile-info {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
  }
  .profile-name {
    color: #fff;
    font-family: "sans-serif Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }
  .profile-content {
    padding-left: 15px;
  }

  .profile-section {
    display: flex;
  }
  .carousel-description {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
  }
  .quote > img {
    width: 20px;
    height: 20px;
  }
  .box-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
  }
  .carousel-img {
    width: 252px;
    height: 315px;
    border-radius: 16px;
    border: 1px solid white;
  }
  .box-one,
  .box-two {
    display: flex;
    width: 500px;
  }
  .carousel-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px 0px 40px 0px;
  }
  .carousel-section {
    border: 1px solid #c2114b;
    height: 524px;
    padding: 40px;
    margin-top: 60px;
  }
  .case-images {
    border-radius: 12px;
    width: 240px;
  }
  .cards-description {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 160% */
  }

  .card-picture {
    border-radius: 104px;
    border: 1px solid #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .cards-text {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 8px;
  }
  .count {
    color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .card-background {
    border-radius: 24px;
    background: #f1f1f1;
  }
  .community-card-wrapper {
    padding: 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 25%;
    height: 160px;
  }
  .card-wrapper {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    width: 25%;
    height: 240px;
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
  }

  .section-1 {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.11%, #000 100%);
    background-image: url("../images/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.11%, #000 100%);
    background-image: url("../images/banner.png");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .address {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 10px;
  }

  .location-name {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0px 10px;
  }

  .name {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .gallery-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0px;
  }
  .heart-icon {
    position: absolute;
    top: 10px;
    left: 190px;
    cursor: pointer;
  }

  .gallery-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
  }

  .gallery-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .gallery-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  }

  .gallery-section > div {
    margin: 10px;
  }

  .gallery-warpper {
    /* width: 20% !important; */
    margin: 20px;
  }
  .active-tab {
    height: 40px;
    border-radius: 140px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    max-width: 140px;
    padding: 15px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tabs > div {
    margin: 20px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
  }

  .title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 30px 0px 15px 0px;
  }

  .white-joinnow > div {
    color: #fff;
  }

  .white-joinnow {
    border-radius: 140px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    width: 120px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
  }
  .Join-wrapper {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #c2124b;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }

  .hire-wrapper {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }

  .Join-wrapper > div {
    color: #fff;
  }

  .section-description {
    padding-top: 15px;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 141.176% */
  }

  .section-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .mobile-section {
    display: none;
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    justify-content: end;
    align-items: center;
    padding-left: 120px;
  }

  .menu-items > div {
    color: #000;
    font-size: 12px;
    line-height: normal;
    cursor: pointer;
    padding-right: 30px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .gridLogo {
    width: 40px;
    height: 40px;
    background-color: #c2114b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .signup {
    border-radius: 140px;
    background: linear-gradient(90deg, #030303 6.98%, #000 65.92%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .login-text {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .signup {
    border-radius: 140px;
    background: linear-gradient(90deg, #030303 6.98%, #000 65.92%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup {
    width: 80px;
    height: 30px;
  }

  .section-1 {
    /* background-color: black !important;
    background-image: url("../images/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 165px; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 37.11%, #000 100%);
    background-image: url(http://localhost:3000/static/media/banner.f99c542a30d750bf22ca.png);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 15px 0px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .tabs > div {
    margin: 10px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
  }

  .active-tab {
    height: 30px;
    border-radius: 140px;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    max-width: 140px;
    padding: 15px;
  }

  .gallery-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 100%;
  }

  .heart-icon {
    position: absolute;
    top: 6px;
    left: 185px;
    cursor: pointer;
  }

  .gallery-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0px;
  }

  .name {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .address {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
  }
  .community-card-wrapper {
    padding: 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 260px;
    height: 125px;
  }
  .card-wrapper {
    padding: 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 200px;
    height: 240px;
  }

  .card-background {
    border-radius: 24px;
    background: #f1f1f1;
  }
  .count {
    color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .cards-text {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 8px;
  }

  .cards-description {
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 160% */
  }
  .case-images {
    border-radius: 12px;
    width: 150px;
  }
  .carousel-section {
    border: 1px solid #c2114b;
    height: 526px;
    margin-top: 60px;
  }
  .carousel-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px 0px 15px 0px;
  }
  .box-one {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
  }
  .carousel-img {
    width: 275px;
    height: 315px;
    border-radius: 16px;
    border: 1px solid white;
  }
  .box-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
  }
  .quote > img {
    width: 20px;
    height: 20px;
  }
  .carousel-description {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }
  .box-two {
    display: none;
  }
  .profile-section {
    display: flex;
    padding: 10px 0px !important;
  }

  .profile-content {
    padding-left: 15px;
  }

  .profile-name {
    color: #fff;
    font-family: "sans-serif Slab";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }

  .profile-info {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
  }

  .carousel-icons {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .brands-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 15px;
  }

  .brands-section > div {
    padding: 18px 10px;
  }

  .brands-section > div > img {
    width: 80px;
  }
  .form-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
  }
  .form-title {
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 114.286% */
  }

  .input-style {
    width: 250px !important;
    height: 48px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin-right: 20px;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }
  .subscribe-btn {
    display: flex;
    width: 250px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
  }
  .main-form {
    display: flex;
    justify-content: center;
  }
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 30px 0px;
  }
  .footer-wrapper > div {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
  }
  .company-info {
    width: 200px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    padding: 20px 0px 20px 0px;
  }
  .footer-title {
    color: #c2114b !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
  .copyright-section {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e8f0;
  }

  .copyright-section > div {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }
  .question-model {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    padding: 30px;
    text-align: center;
  }
  .register-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .register-btn {
    width: 170px;
    height: 45px;
    border-radius: 161px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    cursor: pointer;
  }

  .choose-register {
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
    margin-right: 25px;
  }

  .selected-register {
    width: 150px;
    height: 50px;
    border-radius: 6px;
    background: #c2114b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    cursor: pointer;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-description {
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    padding: 20px 60px;
  }
  .modal-title {
    color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
    margin-top: 30px;
  }
  .modal-wrapper {
    max-width: 475px !important;
    max-height: 569px !important;
  }
  .modal-logo {
    padding-right: 20px;
  }
  .step-text {
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;
    height: 47px;
    color: #060606;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .step-title {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
    margin-top: 40px;
  }

  .step-description {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 10px 0px 30px 0px;
    text-align: center;
  }

  .step2-selection {
    display: flex;
    justify-content: center;
  }

  .step-section-1 {
    margin-right: 25px;
  }

  .step-input {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .step-select {
    /* background: #FFF; */
    margin: 20px 0px;
  }

  .select-wrapper {
    display: flex;
    align-items: center;
    width: 450px;
    height: 55px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 10px 0px;
  }

  .select-text {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 20px;
    cursor: auto;
    width: 400px;
  }

  .step-back {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #000;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }

  .step-continue {
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 245px;
    border: 1px solid #fff;
    background: #c2114b;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }

  .upload-step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-wrapper {
    width: 320px;
    height: 50px;
    background: #0e0e0e;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .upload-text {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .import-wrapper {
    width: 320px;
    height: 55px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
  }

  .import-text {
    color: #0e0e0e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
  }

  .brand-section > p > span {
    color: #c2114b;
  }
}

a:hover {
  color: #c2114b;
}

.email-info {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 6px;
}

.signup-options {
  display: flex;
  align-items: center;
}

.signup-options > .google-media {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  border: 1px solid #ced4da;
  background: #fff;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 0.25rem;
}
.signup-options > .google-media > .media-text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px; /* 200% */
  text-transform: capitalize;
  padding-left: 8px;
}
.signup-options > .fb-media {
  width: 290px;
  height: 53px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  background: #1976d2;
  border: 1px solid rgba(65, 65, 65, 0.4);
  cursor: pointer;
}

.signup-options > .fb-media > .media-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px; /* 200% */
  text-transform: capitalize;
  padding-left: 8px;
}

.signup-terms {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding: 20px 0px;
  width: 100%;
  margin: 0 auto;
  line-height: 25px;
}
.signup-terms > span {
  color: #c2114b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
}

.splitter {
  display: flex;
  max-width: 770px;
}

.splitter-one {
  margin-right: 20px;
  width: 350px;
}
.splitter-two {
  width: 350px;
}

.profession-wrapper,
.choose-pay {
  width: 640px;
}

.choose-pay {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.radio-wrapper > label {
  cursor: pointer;
}

.pay-info {
  padding: 8px 0px 8px 0px;
}

.pay-label {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 10px;
}

input[type="radio"] {
  accent-color: #c2114b;
}

.gig-upload {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.gig-img-wrapper {
  width: 100px;
  height: 99.742px;
  border: 1px solid #b1a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.upload-text {
  padding-left: 20px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pay-label {
  padding-bottom: 6px;
  padding-top: 6px;
}

.benefits-dropdown {
  width: 450px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  border-bottom: 1px solid #d4d4d8;
}

.header-functions {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 41%;
  padding-right: 10px;
}

.header-functions > div {
  margin-right: 20px;
  cursor: pointer;
}

.hide-nav {
  display: none;
}

.mobile-navbar {
  display: none;
}

.search-bootstrap {
  padding-right: 15px;
}

.search-bootstrap-btn {
  color: #c2114b;
  border-color: #c2114b;
}

/* 320px — 480px: Mobile devices */

@media (min-width: 320px) and (max-width: 480px) {
  .case-warpper {
    width: 80%;
  }

  .mobile-blogs-menu {
    top: 56px;
  }

  .dialog-footer {
    justify-content: space-evenly !important;
  }
  .search-bootstrap {
    width: 80% !important;
  }
  .form-title {
    padding-top: 30px;
  }

  .form-fields {
    display: flex;
    padding: 25px;
    width: 100%;
    align-items: center;
  }
  .form-fields > input {
    margin: 15px 15px;
  }
  .form-fields {
    display: flex;
    padding-top: 25px;
    flex-direction: column;
  }

  .subscribe-btn {
    margin-bottom: 30px;
    display: flex;
    width: 78%;
    height: 54.135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
  }
  .input-style {
    height: 54.135px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin: 20px 0px;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0px 20px;
  }
  .input-style::placeholder {
    color: #fff !important;
  }
  .brand-section > .brand-title {
    font-size: 35px !important;
  }

  .brand-section > .brand-description {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .section-description {
    padding-top: 15px;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }

  .brand-options {
    justify-content: center;
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .join-talent-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .hire-talent-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .section-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }

  .Join-wrapper {
    width: 30%;
    height: 30px;
    border-radius: 8px;
    background: #c2124b;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
  }

  .hire-wrapper {
    width: 30%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }

  .gallery-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  }
  .location-name {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0px 10px;
  }
  .rating {
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    padding: 4px;
    top: 187px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-picture {
    border-radius: 104px;
    border: 1px solid #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .brands-row-title {
    margin: 15px 0px;
  }
  .chatbot-icon {
    top: 92%;
    left: 84%;
  }
}
/* 481px — 768px: iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .case-warpper {
    width: 40%;
  }
  .search-bootstrap {
    width: 80% !important;
  }
  .form-fields > input {
    margin: 15px 0px;
  }
  .form-fields {
    display: flex;
    padding: 25px;
    width: 100%;
    align-items: center;
  }
  .form-fields > input {
    margin: 15px 15px;
  }
  .form-fields {
    display: flex;
    padding-top: 25px;
  }
  .subscribe-btn {
    display: flex;
    width: 100%;
    height: 54.135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
  }
  .input-style {
    height: 54.135px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin: 20px 0px;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0px 20px;
  }
  .input-style::placeholder {
    color: #fff !important;
  }
  .brand-section > .brand-title {
    font-size: 40px !important;
  }

  .chatbot-icon {
    top: 92%;
    left: 87%;
  }
}
/* 769px — 1024px: Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
    background-color: #1976d2;
  }

  .case-warpper {
    width: 30%;
  }
  .brand-section > .brand-title {
    font-size: 40px !important;
  }
  .search-bootstrap {
    width: 50% !important;
  }
  .form-fields {
    display: flex;
    padding: 25px;
    width: 100%;
    align-items: center;
  }
  .form-fields > input {
    margin: 15px 15px;
  }
  .form-fields {
    display: flex;
    padding-top: 25px;
  }
  .subscribe-btn {
    display: flex;
    width: 100%;
    height: 54.135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
  }
  .input-style {
    height: 54.135px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin: 20px 0px;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0px 20px;
  }
  .input-style::placeholder {
    color: #fff !important;
  }
  .chatbot-icon {
    top: 92%;
    left: 89%;
  }
}
/* 1025px — 1200px: Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
  .chatbot-icon {
    top: 92%;
    left: 91%;
  }

  .form-fields {
    display: flex;
    padding: 25px;
    width: 100%;
  }
  .subscribe-btn {
    display: flex;
    width: 100%;
    height: 54.135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
  }
  .input-style {
    height: 54.135px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin: 20px 0px;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0px 20px;
  }
  .input-style::placeholder {
    color: #fff !important;
  }
  .search-bootstrap {
    width: 50% !important;
  }
}

@media (max-width: 1500px) {
  .mobile-nav-content > div {
    margin: 12px 0px;
  }

  .mobile-nav-content {
    visibility: visible;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    position: absolute;
    background: antiquewhite;
    width: 100%;
    bottom: 0;
    top: 30px;
    height: 100%;
    z-index: 1;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    align-self: flex-start;
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #d4d4d8;
    background-color: #fff;
    z-index: 9;
  }
  .header {
    display: none;
  }
  .mobile-menu-items {
    margin-bottom: 0px !important;
  }
  .mobile-menu-items > div {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    padding-right: 30px;
    text-decoration: none;
    margin: 20px 0px;
  }

  .signup,
  .login-text {
    border-radius: unset;
    background: unset;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: unset;
    justify-content: unset;
    align-items: unset;
    width: unset;
    height: unset;
  }

  a.active {
    max-width: unset;
    height: unset;
    border-radius: unset;
    background: unset;
    cursor: pointer;
    display: unset;
    justify-content: unset;
    align-items: unset;
    color: #000 !important;
    padding: unset;
  }

  .fa-bars {
    cursor: pointer;
    font-size: 40px;
  }

  .search-bootstrap {
    padding-right: 15px;
    width: 30%;
  }

  .search-bootstrap-btn {
    color: #c2114b;
    border-color: #c2114b;
  }
}

@media only screen and (min-width: 1200px) {
  .brands-row-title {
    margin: 15px 0px;
  }
  .form-fields {
    display: flex;
    padding-top: 25px;
    width: 60%;
  }
  .subscribe-btn {
    display: flex;
    width: 33%;
    height: 54.135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090914;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
  }
  .input-style {
    height: 50px;
    border-radius: 100px !important;
    border: 1px solid #d4d4d8 !important;
    background: #c2114b !important;
    margin: 20px 0px;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0px 20px;
    width: 33%;
  }
  .input-style::placeholder {
    color: #fff !important;
  }
}
@media only screen and (min-width: 1500px) {
  .mobile-nav-content {
    display: none !important;
  }
}

/* .responsive-box {
  max-width: 305px;
  width: 100%;
}
.responsive-box .responsive-search-box {
  position: relative;
  height: 50px;
  max-width: 50px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
#search-check:checked ~ .responsive-search-box {
  max-width: 380px;
}
.responsive-search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}
.responsive-search-box .responsive-search-icon {
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #c2114b;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}
#search-check:checked ~ .responsive-search-box .responsive-search-icon {
  background: #c2114b;
  color: #fff;
  width: 60px;
  border-radius: 0 25px 25px 0;
}
#search-check {
  display: none;
} */
