.popular-header {
  width: 100%;
  height: 56px;
  background: #c2114b;

}
.popular-header .container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topSpace{ margin-top: 64px; }

@media (min-width: 480px) {
  .creators-filter-select {
    width: 70%;
  }

  .profession-creator-wrapper {
    display: flex;
    align-items: center;
    margin: 15px 0px;
  }
 
  .header-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu > div {
    padding-right: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .header-menu > div:nth-child(1) {
    padding-right: 15px;
    border-right: 1px solid #fff;
  }
  .header-menu > div:nth-child(2) {
    padding-left: 15px;
  }
  .filter-section {
    padding: 60px 0px;
    display: flex;
    background-color: #f8f8f8;
    justify-content: center;
  }

  .filter-btn {
    width: 100%;
    height: 50px;
    border-radius: 11px;
    background: #000;
    cursor: pointer;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
  }
  .filter-btn-wrapper {
    display: flex;
  }
  .search-words-section {
    display: flex;
    justify-content: space-between;
  }
  .search-history {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 6px;
    background-color: #e9ecef;
    border-radius: 6px;
  }

  .cancel-icon {
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    padding-left: 4px;
  }

  .searched-word-wrapper {
    display: flex;
    align-items: center;
    background-color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: 0px 6px;
    margin: 0px 6px;
  }

  .filter-wrapper {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 30px;
  }

  .filter-content {
    display: block;
  }
  .filter-items {
    padding: 8px 0px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 30%;
  }
  .keyword-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 0px;
  }
  .profession-wrapper {
    /* height: 39px; */
    border-radius: 5px;
    outline: none !important;
    background: rgba(0, 0, 0, 0);
    padding-bottom: 10px;
  }
  .filter-input-wrapper {
    border-radius: 5px;
    border: 0.5px solid #ced4da;
    background: rgba(0, 0, 0, 0);
    width: 70%;
    height: 39px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .search-icon {
    padding: 4px 8px;
    background-color: #c2114b;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    color: #ffffff;
    font-weight: 600;
  }
  .keyword-input {
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
  }
  .check-section {
    display: flex;
    justify-content: space-evenly;
  }
  .label-style {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
  }
  .input-items-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .input-items-style {
    width: 137px;
    min-height: 38px;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
  }
  .input-items-style::placeholder {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .input-country-style {
    width: 100%;
    height: 35px;
    border-radius: 7px;
    border: 1px solid #000;
    background: #fff;
  }
  .category-chips {
    padding: 20px 0px 0px 15px;
  }
  .each-category {
    padding: 8px 0px;
  }
  .submit-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .reset-btn,
  .search-btn {
    width: 30%;
    height: 40px;
    border-radius: 140px;
    background: linear-gradient(90deg, #030303 6.98%, #000 65.92%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }
  .search-btn {
    background: #c2114b;
    margin-left: 15px;
  }
  .models-images {
    width: 65%;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 11%) 0px 2px 8px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 30px;
  }
}

.range-inputs {
  cursor: unset;
}
.range-inputs:focus {
  color: #212529;
  background-color: #e9ecef;
  border: none !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #e9ecef;
}

.find-talent-image {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.favoruite-find-talent {
  position: absolute;
  top: 10px;
  right: 10px;
}

.find-talentrating {
  position: absolute;
  background-color: #fff;
  border-radius: 30px;
  padding: 4px;
  top: 220px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-talentrating > img {
  width: 8px;
  height: 8px;
  margin: 0px 2px;
}

select {
  cursor: pointer;
}

.select__multi-value {
  background-color: #c2114b !important;
  color: #fff !important;
}

.select__multi-value__label {
  color: #fff !important;
}

.talents-profession {
  width: 70%;
}

.creator-age-wrapper {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.creator-age-wrapper > input:nth-child(1) {
  margin-right: 10px;
}

.creator-age-main {
  justify-content: end;
}

/* // 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV */
@media (min-width: 1201px) and (max-width: 1400px) {
  .filter-wrapper {
    width: 35%;
  }
  .models-images {
    width: 65%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .filter-wrapper {
    width: 35%;
  }
  .models-images {
    width: 65%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .filter-wrapper {
    width: 35%;
  }
  .models-images {
    width: 65%;
  }
  .filter-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .filter-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .filter-wrapper {
    width: 100%;
  }
  .models-images {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .filtered-gallery {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
  }
  .filter-wrapper {
    width: 100%;
  }
  .models-images {
    width: 100%;
  }
  .talents-profession {
    width: 100%;
  }
}

@media (max-width: 480px) {

  .search-icon {
    padding: 10px;
  }
  .creator-age-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .header-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu > div {
    padding-right: 15px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .header-menu > div:nth-child(1) {
    padding-right: 15px;
    border-right: 1px solid #fff;
  }
  .header-menu > div:nth-child(2) {
    padding-left: 15px;
  }
  .filter-section {
    margin-top: 20px;
  }
  .filter-wrapper {
    width: 100%;
  }
  .filter-btn {
    width: 296px;
    height: 49px;
    border-radius: 11px;
    background: #000;
    cursor: pointer;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
  }
  .filter-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .filter-wrapper {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .filter-content {
    display: block;
  }
  .filter-items {
    padding: 8px 0px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  .keyword-wrapper {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    flex-direction: column;
    padding: 10px 0px;
  }
  .filter-input-wrapper {
    border-radius: 5px;
    border: 0.5px solid #ced4da;
    background: rgba(0, 0, 0, 0);
    /* width: 200px; */
    height: 39px;
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    margin: 10px 15px;
    align-items: center;
  }
  .keyword-input {
    border: none;
    outline: none;
  }
  .search-words-section {
    width: 100%;
  }
  .search-history {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .search-history > div {
    padding: 8px 8px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
  }
  .input-items-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .input-items-style {
    width: 137px;
    min-height: 38px;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
  }
  .input-items-style::placeholder {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .category-chips {
    padding: 20px 0px 0px 15px;
  }
  .each-category {
    padding: 8px 0px;
  }
  .submit-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .reset-btn,
  .search-btn {
    width: 86px;
    height: 40px;
    border-radius: 140px;
    background: linear-gradient(90deg, #030303 6.98%, #000 65.92%);
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .search-btn {
    background: #c2114b;
    margin-left: 15px;
  }
  .creators-filter-select-range {
    margin: 20px 0px;
  }
}

.find-creator-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px 6px;
}

.find-creator-address {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 6px 6px;
}

.find-creator-location-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 6px 6px;
}

.keyword-input::placeholder {
  color: #000;
}

.selected-word-style {
  color: #ffffff !important;
  font-weight: 600 !important;
  font-size: 14px;
}
