.model-profile {
  display: flex;
  padding: 40px 0px 40px 60px;
}

.model-reviews {
  padding: 40px 0px 40px 60px;
  display: flex;
  flex-wrap: wrap;
}

.model-review-wrapper {
  width: 550px;
  height: 230px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 8px 24px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
}
.review-title {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 0px;
}
.review-date {
  text-align: end;
  color: #c2114b;
  font-family: "Montaga";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.review-content {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
}
.models-bio {
  padding: 40px;
  color: #000;
  font-family: "Montaga";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}
.reviewer-section {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.reviewers-rating > img {
  padding-right: 6px;
}

.reviewer-details {
  display: flex;
  align-items: center;
}
.initial {
  width: 30px;
  height: 30px;
  background-color: #c2114b;
  border-radius: 50%;
  color: #fff;
}
.reviewer-name {
  padding-left: 8px;
  color: #181818;
  font-family: "Montaga";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-profile-img {
  border-radius: 16px;
}

.model-details {
  padding-left: 30px;
  width: 48%;
}

.model-name {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 40px 0px 15px 0px;
}

.model-infos {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.model-location {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

.location-text {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 14px;
}

.models-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 140px;
  background: #000;
  cursor: pointer;
}

.message-wrapper {
  width: 118px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 140px;
  background: #c2114b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.message-wrapper > span {
  color: #fff;
  font-family: "Montaga";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reserve-background {
  width: 118px;
  height: 40px;
  border-radius: 140px;
  background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.text-span {
  color: #000;
  font-family: "Montaga";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.invite {
  width: 159px;
  height: 40px;
}

.follow {
  width: 110px;
  height: 40px;
}

.models-social-counts {
  padding: 20px 0px;
}

.count-wrapper {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.count-wrapper > span {
  color: #c2114b;
  font-family: "Montagu Slab";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 18px;
}

.models-photos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 0px 40px;
}

.model-picture {
  width: 401px;
  height: 251px;
  border-radius: 20px;
  margin: 15px;
}

.features-wrapper {
  display: flex;
  padding: 30px 0px 40px 120px;
}

.features-heading {
  padding-bottom: 10px;
}
@media (max-width: 475px) {
  .model-profile {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 20px 25px;
  }
  .model-details {
    padding-left: 0px;
    width: 100%;
  }
  .models-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
  }
  .models-options > div {
    margin: 10px 10px 0px 0px;
  }
  .models-social-counts {
    width: 390px;
  }
  .models-photos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px 0px 20px;
  }

  .model-picture {
    width: 180px;
    height: 125px;
    border-radius: 10px;
    margin: 10px;
  }
}
