.talent-photos-section {
  width: 100%;
}

.talents-profile-slider-image {
}

.photos-carousel-owl {
  /* height: 300px !important; */
}
.photos-carousel-owl.owl-theme .owl-dots {
  /* display: none;  */
}
.photos-carousel-owl.owl-theme .owl-nav {
  display: none; /* Hide the dots */
}

.talents-profile-slider-image {
  max-width: 300px; /* Ensure the image does not exceed its container's width */
  max-height: 300px; /* Ensure the image does not exceed its container's height */
}
