.talent-photos-section {
  width: 100%;
}

.talents-profile-slider-image {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.photos-carousel-owl {
  /* height: 300px !important; */
}
.photos-carousel-owl.owl-theme .owl-dots {
  /* display: none;  */
}
.photos-carousel-owl.owl-theme .owl-nav {
  display: none; /* Hide the dots */
}

.talents-profile-slider-image {
  max-width: 300px; /* Ensure the image does not exceed its container's width */
  max-height: 300px; /* Ensure the image does not exceed its container's height */
  position: relative;
}

.carousel-talent-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #ffffff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.heart-icon {
  width: 24px !important;
  height: 24px !important;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .talents-profile-slider-image {
    /* width: 140px !important;
    margin-right: 20px !important; */
  }
}
