.pricing-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pricing-title {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: "Montagu Slab";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 133.333% */
  padding: 30px 0px;
}

.pricing-table {
  padding: 40px 60px;
}

.pricing-wrapper {
  width: 210px;
  height: 330px;
  padding: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.guarantee-wrapper {
  width: 210px;
  height: 330px;
  padding: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}

.pricing-fill {
  width: 250px;
  height: 350px;
  border-radius: 26px;
  background: #c2114b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plan-name {
  color: #000;
  text-align: center;
  font-family: "Montagu Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.333px;
}

.plan-value {
  color: #000;
  text-align: center;
  font-family: "Montagu Slab";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.plan-action {
  border-radius: 26px;
  background: #f9f2ff;
  width: 207.761px;
  height: 64.308px;
  color: #c2114b;
  text-align: center;
  font-family: "Montagu Slab";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.233px;
  margin-top: 40px;
}

.plan-duration {
  color: #b6afaf;
  text-align: center;
  font-family: "Montagu Slab";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.233px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td {
  padding: 8px;
  width: 1260px;
  height: 99px;
  color: #000;
  font-family: "Montaga";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
}

.filled-circle {
  width: 20px;
  height: 20px;
}

#customers tr:nth-child(odd) {
  border-radius: 26px;
  background: #f9f2ff;
}

#customers tr:hover {
  background-color: #ddd;
}

@media (max-width: 475px) {
  .pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
