.plan-main {
  /* background-color: aqua; */
  margin: 0 auto;
  width: 95%;
}

.select-plan-main {
  margin: 60px 235px 10px;
  display: flex;
  align-items: center;
}
.select-pricing {
  width: 20%;
}

.select-pricing-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  padding-right: 25px;
}
.plans-section {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.pro-checkbox[type="radio"] {
  accent-color: #5f2895;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.premium-checkbox[type="radio"] {
  accent-color: #106d3e;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.plan-content {
  display: flex;
  align-items: start;
  padding: 5px 0px;
}

.plan-content-text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-left: 10px;
}

.plans-wrapper {
  width: 25%;
  /* height: 100%; */
  margin-right: 30px;
  /* height: 840px; */
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}

.free-plans {
  border-top: 11px solid #ab7e13;
}

.pro-plans {
  border-top: 11px solid #5f2895;
}

.premium-plans {
  border-top: 11px solid #106d3e;
}

.plan-name {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.333px;
  padding: 50px 0px 25px 0px;
}

.plan-value {
  padding: 10px 0px 20px 0px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.25px;
}

.plan-validity {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: -0.25px;
  padding-bottom: 20px;
}

.choose-btn {
  cursor: pointer;
  width: 90%;
  height: 45px;
  flex-shrink: 0;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
  margin: 25px auto;
}

.include {
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.333px;
  text-decoration-line: underline;
  padding: 10px 0px 0px 50px;
  text-align: left;
}

.included-things {
  padding: 20px;
}

.learn-btn {
  cursor: pointer;
  border-radius: 60px;
  background: #dddddd;
  width: 90%;
  height: 45px;
  flex-shrink: 0;
  color: #c2114b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.free-btn {
  background: #ab7e13;
}

.pro-btn {
  background: #5f2895;
}

.premium-btn {
  background: #106d3e;
}

.pro-gift {
  color: #106d3e;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.25px;
  padding-top: 12px;
}
.premium-gift {
  color: #5f2895;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.25px;
  padding-top: 12px;
}

.save-plan {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: -0.25px;
}

.save-plan > span {
  font-weight: 700;
}

.premium-text {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.333px;
  padding: 50px 0px 60px 0px;
}

.annual-wrapper {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.monthly-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px 12px 40px;
}

.monthly {
  padding-left: 10px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.chexkbox {
  height: 30px;
  width: 30%;
}

.annual {
  padding-left: 10px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.plan-amounts {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px 12px 40px;
  align-items: center;
}

.border-bottom {
  width: 90%;
  height: 2px;
  background-color: #dddddd;
  text-align: center;
  margin: 0 auto;
}

.value-wrapper {
  display: flex;
}

.previous-value {
  text-decoration: line-through;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.after-value,
.monthly-amount {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
  padding-left: 8px;
}

.toggleSwitch span span {
  display: none;
}

.toggleSwitch {
  display: inline-block;
  height: 18px;
  position: relative;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  width: 200px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 34px;
}
.toggleSwitch * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.toggleSwitch label,
.toggleSwitch > span {
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}
.toggleSwitch input:focus ~ a,
.toggleSwitch input:focus + label {
  outline: none;
}
.toggleSwitch label {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
}
.toggleSwitch input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}
.toggleSwitch > span {
  position: absolute;
  left: 0;
  width: calc(100% - 6px);
  margin: 0;
  text-align: left;
  white-space: nowrap;
  margin: 0 3px;
}
.toggleSwitch > span span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 50px;
  text-align: left;
  font-size: 0.9em;
  width: auto;
  left: 0;
  top: -1px;
  opacity: 1;
  width: 40%;
  text-align: center;
  line-height: 34px;
}
.toggleSwitch a {
  position: absolute;
  right: 50%;
  z-index: 4;
  display: block;
  top: 3px;
  bottom: 3px;
  padding: 0;
  left: 3px;
  width: 50%;
  background-color: #c2114b;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.toggleSwitch > span span:first-of-type {
  color: #fff;
  opacity: 1;
  left: 0;
  margin: 0;
  width: 50%;
}
.toggleSwitch > span span:last-of-type {
  left: auto;
  right: 0;
  color: #999;
  margin: 0;
  width: 50%;
}
.toggleSwitch > span:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -2px;
  /* background-color: #fafafa;
	border: 1px solid #ccc; */
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.toggleSwitch input:checked ~ a {
  left: calc(50% - 3px);
}
.toggleSwitch input:checked ~ span:before {
  /* border-color: #0097D1;
	box-shadow: inset 0 0 0 30px #0097D1; */
}
.toggleSwitch input:checked ~ span span:first-of-type {
  left: 0;
  color: #999;
}
.toggleSwitch input:checked ~ span span:last-of-type {
  /* opacity: 1;
	color: #fff;	 */
  color: #fff;
}
/* Switch Sizes */
.toggleSwitch.large {
  width: 60px;
  height: 27px;
}
.toggleSwitch.large a {
  width: 27px;
}
.toggleSwitch.large > span {
  height: 29px;
  line-height: 28px;
}
.toggleSwitch.large input:checked ~ a {
  left: 41px;
}
.toggleSwitch.large > span span {
  font-size: 1.1em;
}
.toggleSwitch.large > span span:first-of-type {
  left: 50%;
}
.toggleSwitch.xlarge {
  width: 80px;
  height: 36px;
}
.toggleSwitch.xlarge a {
  width: 36px;
}
.toggleSwitch.xlarge > span {
  height: 38px;
  line-height: 37px;
}
.toggleSwitch.xlarge input:checked ~ a {
  left: 52px;
}
.toggleSwitch.xlarge > span span {
  font-size: 1.4em;
}
.toggleSwitch.xlarge > span span:first-of-type {
  left: 50%;
}

/*  End Toggle Switch  */

/* 320px — 480px: Mobile devices */

@media (min-width: 320px) and (max-width: 480px) {
  .plans-section {
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .plans-wrapper {
    width: 100%;
    margin-top: 20px;
  }
}
/* 481px — 768px: iPads, Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .plans-section {
    padding: 30px 0px;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .plans-wrapper {
    width: 100%;
    margin-top: 20px;
  }
}
/* 769px — 1024px: Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .plans-section {
    padding: 40px 0px;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .plans-wrapper {
    width: 40%;
    margin-top: 20px;
  }
}
/* 1025px — 1200px: Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
  .plans-section {
    padding: 60px 0px;
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: center; */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .plans-wrapper {
    width: 40%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .select-pricing {
    width: 80%;
  }
  .select-pricing-title {
    padding-bottom: 15px;
  }
  .select-plan-main {
    margin: 60px 20px 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .plans-section {
    margin: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .plans-wrapper:not(:first-child) {
    margin-top: 18px;
  }
  .plan-name {
    font-size: 16px;
    padding: 20px 0px;
  }
  .plan-validity {
    font-size: 14px;
    padding-bottom: 0px;
  }
  .choose-btn {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin: 15px auto;
  }

  .include {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0px 0px 20px;
    text-align: left;
  }
  .included-things {
    padding: 14px;
  }
  .plan-content {
    display: flex;
    align-items: start;
    padding: 4px 0px;
  }
}
