.plans-section {
  padding: 60px;
  display: flex;
  justify-content: space-evenly;
}

.pro-checkbox[type="radio"] {
  accent-color: #5f2895;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.premium-checkbox[type="radio"] {
  accent-color: #106d3e;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.plan-content {
  display: flex;
  align-items: start;
  padding: 10px 0px;
}

.plan-content-text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-left: 10px;
}

.plans-wrapper {
  width: 350px;
  height: 100%;
  /* height: 840px; */
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}

.free-plans {
  border-top: 11px solid #ab7e13;
}

.pro-plans {
  border-top: 11px solid #5f2895;
}

.premium-plans {
  border-top: 11px solid #106d3e;
}

.plan-name {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.333px;
  padding: 50px 0px 25px 0px;
}

.plan-value {
  padding: 10px 0px 20px 0px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.25px;
}

.plan-validity {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: -0.25px;
  padding-bottom: 20px;
}

.choose-btn {
  cursor: pointer;
  width: 250px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
  margin: 25px auto;
}

.include {
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.333px;
  text-decoration-line: underline;
  padding: 10px 0px 0px 50px;
  text-align: left;
}

.included-things {
  padding: 20px;
}

.learn-btn {
  cursor: pointer;
  border-radius: 60px;
  background: #dddddd;
  width: 250px;
  height: 45px;
  flex-shrink: 0;
  color: #c2114b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.free-btn {
  background: #ab7e13;
}

.pro-btn {
  background: #5f2895;
}

.premium-btn {
  background: #106d3e;
}

.pro-gift {
  color: #106d3e;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.25px;
  padding-top: 12px;
}
.premium-gift {
  color: #5f2895;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.25px;
  padding-top: 12px;
}

.save-plan {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: -0.25px;
}

.save-plan > span {
  font-weight: 700;
}

.premium-text {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.333px;
  padding: 50px 0px 60px 0px;
}

.annual-wrapper {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.monthly-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px 12px 40px;
}

.monthly {
  padding-left: 10px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.chexkbox {
  height: 30px;
  width: 30%;
}

.annual {
  padding-left: 10px;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.plan-amounts {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px 12px 40px;
  align-items: center;
}

.border-bottom {
  width: 300px;
  height: 2px;
  background-color: #dddddd;
  text-align: center;
  margin: 0 auto;
}

.value-wrapper {
  display: flex;
}

.previous-value {
  text-decoration: line-through;
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}

.after-value,
.monthly-amount {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
  padding-left: 8px;
}

@media (max-width: 475px) {
  .plans-section {
    margin: 30px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .plans-wrapper:not(:first-child) {
    margin-top: 18px;
  }
  .plan-name {
    font-size: 16px;
    padding: 20px 0px 15px 0px;
  }
  .plan-validity {
    font-size: 14px;
    padding-bottom: 0px;
  }
  .choose-btn {
    width: 200px;
    height: 40px;
    font-size: 15px;
    margin: 15px auto;
  }

  .include {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0px 0px 20px;
    text-align: left;
  }
  .included-things {
    padding: 14px;
  }
  .plan-content {
    display: flex;
    align-items: start;
    padding: 4px 0px;
  }
}
