.gig-preview {
  margin: auto;
  display: flex;
  padding: 18px 0px;
  border-bottom: 1px solid #bab4b4;
}

.rdw-editor-wrapper {
  box-sizing: content-box;
  border-radius: 8px;
  border: 1px dashed #aaaaaa;
}

.gig-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gig-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 250px;
}

.gig-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.gig-description {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 30px 0px;
}

.gig-infos {
  display: flex;
  justify-content: space-between;
}

.gig-followers {
  display: flex;
  padding-right: 15px;
}

.gig-logo {
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.2);
  background: #dddddd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gig-logo > img {
  width: 18px;
  height: 18px;
}

.followers-text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.gig-counts {
  padding-left: 12px;
}

.followers-count {
  color: #c2114b;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 5px;
}

.brands-preview-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company {
  width: 650px;
}

.company {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.company-name {
  display: flex;
  align-items: center;
}

.name-wrapper {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
  background-color: #c2114b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.name-wrapper {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.company-text {
  color: #181818;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 6px;
}

.company-plan {
  color: #c2114b;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.trial-page {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
}

.trial-title {
  color: #000;
  font-family: "Montagu Slab";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inlcluded {
  color: #c2114b;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.333px;
  text-decoration-line: underline;
  padding: 30px 0px;
}

.included-content {
  display: flex;
}

.included-line {
  display: flex;
  align-items: center;
}

.include-text {
  padding-left: 8px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.25px;
  padding: 10px 0px 10px 10px;
}

.trialing > img {
  width: 350px;
  height: 350px;
  flex-shrink: 0;
}

.trial-model {
  display: flex;
  align-items: center;
}

.include-wrapper {
  padding-left: 30px;
}

.gmail-wrapper {
  width: 80%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 8px 24px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 30px;
  margin-top: 60px;
}

.gmail-tick > img {
  width: 166px;
  height: 166px;
  flex-shrink: 0;
}

.done {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 25px 0px;
}

.gmail-info {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 25px;
  width: 30%;
}

.open-gmail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 60px;
  border: 5px solid #000;
  background: #000;
}

.gmail-btn-text {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.gig-input {
  display: none;
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.image-preview > img {
  width: 300px;
}

/* BRANDS FORM 3 STYLES */

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brands-form-wrapper {
  width: 640px;
  margin-top: 100px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  // z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.adult-signup-main {
  // background-color: aqua;
  width: 35%;
}

.adult-password-wrapper,
.adult-confirm-password-wrapper {
  position: relative;
}

.show-password-icon {
  position: absolute;
  top: 35%;
  right: 10px;
  color: #aaa;
  cursor: pointer;
}

.show-confirm-password-icon {
  position: absolute;
  top: 35%;
  right: 10px;
  color: #aaa;
  cursor: pointer;
}

.adult-signup-inputs {
  height: 50px;
}
.signup-btn-section {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .signup-btn {
    background-color: #c2114b;
    border-radius: 14px;
    cursor: pointer;
    padding: 6px 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

@media (min-width: 769px) and (max-width: 1024px) {
  .adult-signup-main {
    // background-color: aqua;
    width: 50%;
  }
  .gmail-info {
    width: 50%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .adult-signup-main {
    // background-color: aqua;
    width: 70%;
  }
  .gmail-info {
    width: 60%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .adult-signup-main {
    // background-color: aqua;
    width: 80%;
  }

  .gmail-info {
    width: 80%;
  }
}
