.resources-main {
  display: flex;
  justify-content: center;
}

.resources {
  width: 85%;
  padding-top: 120px;
}

.team-members-section {
  margin: 80px 0px;
}

.resource-wrapper {
  display: flex;
}

.resource-content-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 0px 20px 0px 40px;
}
.resource-image-wrapper {
  width: 40%;
}

.resource-image {
  width: 100%;
  /* width: 440px;
  height: 359px; */
}

.resource-name {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.resource-description {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}

.team-description {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  text-align: center;
}
.space {
  padding: 20px 0px;
}

.top-space {
  margin: 100px 0px 30px 0px;
}

.resource-details {
  display: flex;
}

.details-flex {
  padding-left: 20px;
}

.faq-section {
  margin: 20px auto;
  width: 60%;
}

.faq-question-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.faq-question {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.faq-answer {
  color: #000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  width: 600px;
  margin: 0 auto;
  line-height: 24px; /* 160% */
}

.plus-icon {
  cursor: pointer;
}

.plan-details-content {
  padding-left: 8px;
}

@media (max-width: 480px) {
  .resources-main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .resources {
    padding: 20px 10px;
  }
  .top-space {
    margin: 20px 0px 10px 0px;
  }
  .resource-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .resource-content-wrapper {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
  .resource-image-wrapper {
    width: 100%;
  }
  .resource-details {
    display: flex;
    padding-bottom: 15px;
  }

  .faq-answer {
    width: 350px;
  }

  /* .resource-image {
    width: 440px;
    height: 359px;
  } */
}

.plan-details-wrapper {
  padding: 10px 0px;
}

/* // 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV */

@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 320px) and (max-width: 480px) {
  .faq-section {
    margin: 20px auto;
    width: 100%;
  }
}
