.service-list-main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  .service-list-wrapper {
    margin: 10px 0px 20px;
    .service-list-image {
      height: 250px;
      overflow: hidden;
      img {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
        border-radius: 16px;
        // border-top-right-radius: 16px;
        // border-top-left-radius: 16px;
      }
    }
    .service-list-content {
      .starting-amount {
        color: #c2114b;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px 0px 5px;
      }
      .service-title {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 0px 0px 10px 0px;
      }
      .service-description {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .service-duration {
        display: flex;
        align-items: center;

        .service-duration-title {
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          color: #000;
          line-height: normal;
          margin: 3px 10px 3px 0;
          font-family: sans-serif;
          padding-right: 0px;
        }
        div {
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          color: #aaaaaa;
          line-height: normal;
          margin: 3px 4px 3px 0;
          font-family: sans-serif;
        }
      }
    }
    .enquire-btn {
      width: auto;
      border-radius: 100px;
      height: 40px;
      border: 1px solid #000;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      min-width: 200px;
      transition: 0.5s;
      font-weight: 500;
      &:hover {
        background-color: #c2114b;
        color: white;
      }
    }
  }
}

.model-picture-wrapper {
  margin-right: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .talent-all-details-wrapper {
    padding: 20px;
  }

  .service-list-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.text-btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0;
}
