.service-list-main {
}
.service-list-main .service-list-wrapper {
  margin: 10px 0 20px;
}
.service-list-main .service-list-wrapper .service-list-image {
  height: 250px;
  overflow: hidden;
}

.service-list-main
  .service-list-wrapper
  .service-list-content
  .starting-amount {
  color: #c2114b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0 5px;
}
.service-list-main .service-list-wrapper .service-list-content .service-title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 0 15px 0;
}
.service-list-main
  .service-list-wrapper
  .service-list-content
  .service-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.service-list-main
  .service-list-wrapper
  .service-list-content
  .service-duration {
  display: flex;
  color: #000;
}
.service-list-main
  .service-list-wrapper
  .service-list-content
  .service-duration
  div {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-family: sans-serif;
  line-height: normal;
  margin: 3px 3px 3px 0;
}
.service-list-main .service-list-wrapper .enquire-btn {
  font-size: 14px;
  width: auto;
  border-radius: 100px;
  height: 40px;
  border: 1px solid #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 150px;
  transition: 0.5s;
  font-weight: 500;
}
.service-list-main .service-list-wrapper .enquire-btn:hover {
  background-color: #000;
  color: #fff;
}
.model-picture-wrapper {
  margin-right: 20px;
}
@media (max-width: 480px) {
  .talent-all-details-wrapper {
    padding: 15px;
  }
  .service-list-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.text-btm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0 0;
}

.service-image-style {
  width: 300px !important;
  height: 300px;
  border-radius: 16px;
}
