.container-fluid {
  .row {
    // background-color: #ff2a2a;
    .talent-column-one {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-right: 20px;
      border-radius: 8px;
      padding: 20px 30px;
      .recent-gigs-title {
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .recent-gigs-main {
        // background-color: aqua;
        .recent-gigs-wrapper {
          padding: 30px 0px;
          border-bottom: 1px solid gray;
          .recent-setone {
            display: flex;
            .recent-img-div {
              .recent-img {
                border-radius: 16px;
              }
            }
            .recent-gig-details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 15px;
              .recent-gig-company,
              .recent-gig-description {
                color: #000;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              .recent-gig-name {
                color: #000;
                font-family: "Open Sans", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding: 15px 0px;
              }
              .recent-gig-description {
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
          .recent-settwo {
            display: flex;
            padding: 20px 0px;
            .recent-gigs-count-wrapper {
              display: flex;
              align-items: center;
              padding-right: 30px;
              .recent-gigs-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ffffff;
                border: 1px solid grey;
                border-radius: 50%;
                width: 46px;
                height: 46px;
              }
              .recent-gig-count-details {
                padding-left: 15px;
                .recent-gigs-count {
                  color: #c2114b;
                  font-family: "Open Sans", sans-serif;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
              }
            }
          }
        }
      }
    }
    .talent-column-two {
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 8px;
      padding: 30px;
      .contact-section-main {
        .contact-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 40px 30px 30px 30px;
          border-bottom: 1px solid gray;
          .contact-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #c2114b;
            border-radius: 50%;
            padding: 25px;
          }
          .contact-q,
          .contact-description {
            color: #000;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 15px 0px;
            margin-bottom: 0px;
          }
          .contact-description {
            font-size: 16px;
            font-weight: 400;
          }
          .contact-btn {
            height: 50px;
            width: 100%;
            background-color: #000;
            color: #ffffff;
            cursor: pointer;
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
          }
        }
        .top-brands-section {
          display: flex;
          justify-content: space-between;
          padding: 20px 0px;
          .top-brands-title,
          .view-all-brands {
            color: #000;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 15px 0px;
          }
          .view-all-brands {
            cursor: pointer;
            color: gray;
            font-size: 17px;
          }
        }
        .top-brands-main {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .top-brands-wrapper {
            width: 30%;
            padding: 10px;
            cursor: pointer;
            .top-brand-img-wrapper {
              .top-brand-img {
                width: 100%;
              }
            }
            .top-brands-name {
              color: #000;
              font-family: "Open Sans", sans-serif;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              word-break: break-all;
              text-align: center;
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}

.side-menu {
  width: 25%;

  .sidemnu-close {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px 15px;
  }
  .sidemenu-main {
    padding: 20px;
    display: flex;
    justify-content: center;
    .talent-profile {
      width: 80%;
      background-color: rgb(228, 228, 228);
      border-radius: 16px;
      padding: 25px;
      .talent-data-wrapper {
        display: flex;
        align-items: self-end;
        .profile-img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #c2114b;
          margin-right: 15px;
        }
        .talent-details {
          .talent-name {
            color: #000;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;
          }
        }
      }
      .talents-plan-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        .talent-plan-name {
          color: #000;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-align: center;
          span {
            color: #c2114b;
          }
        }
      }
      .upgrade-btn {
        height: 50px;
        background-color: #c2114b;
        cursor: pointer;
        border-radius: 16px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .features-input-wrapper {
    margin-right: 20px;
    min-width: 30% !important;
    .features-select {
    }
  }
}

.modal-backdrop.show {
  // opacity: 0;
}

.offcanvas-start {
  // top: 75px;
  left: 0;
  width: 400px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}

.talent-popup-body {
  padding: 30px;
}

.talent-popup-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.talent-popup-enter {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 0px;
}
.talent-popup-span {
  color: #c2114b;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 25px 0px;
}

.talent-popup-description {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 0px;
}

.doitnow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: end;
}

.doit-btn {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2114b;
  color: #ffffff;
  padding: 8px 26px;
  border-radius: 8px;
  cursor: pointer;
}

.doitnow-main {
  width: 100%;
  display: flex;
  .doit-one {
    width: 70%;
    padding-right: 40px;
  }
  .doit-two {
    width: 30%;
  }
}

.adult-form-wrapper {
  margin: 30px 60px;
  display: flex;
}

.adult-main {
  width: 40%;
  padding-left: 50px;
}

.adults-form-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 20px 0px;
  text-align: center;
}

.adults-titles {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px 0px;
}

.dynamic-profession {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
}
.profession-input {
  max-width: 200px;
  margin-right: 15px;
}
.offer-wrapper {
  display: flex;
  align-items: center;
}
.offer-label {
  font-size: 14px;
  padding-left: 15px;
  cursor: pointer;
  margin-bottom: 0px !important;
}
.profession-btn {
  display: flex;
  justify-content: end;
  margin: 15px 0px;
  max-width: 700px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category-name {
  padding: 8px 16px;
  background-color: rgb(219, 219, 219);
  margin: 8px 8px 8px 0px;
  cursor: pointer;
  border-radius: 4px;
}
.selected-category {
  padding: 8px 16px;
  background-color: #c2114b;
  // background-color: rgb(0, 0, 0);
  margin: 8px 8px 8px 0px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
}

.kids-form-row {
  display: flex;
  justify-content: space-between;
  .kids-form-section {
    width: 49%;
  }
}

.cv-section {
  border-radius: 8px;
  border: 1px dashed #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  width: 100%;
  min-height: 275px;
  .select-cv-input {
    display: none;
  }
}
.upload-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #000;
  padding: 20px;
  border-radius: 50%;
}
.upload-text {
  padding: 16px 0px;
  text-align: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.uploaded-file-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 15px;
  width: 100%;
}
.file-section,
.file-options {
  display: flex;
}
.fileName {
  padding: 0px 15px;
}
.option-menu {
  padding: 0px 10px;
  cursor: pointer;
}

.add-more-services {
  padding: 20px 0px;
  .add-more-services-btn {
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #000;
    border-radius: 6px;
    width: 40%;
    cursor: pointer;
  }
}

.media-wrapper {
  cursor: pointer;
  border: 1px solid rgb(179, 179, 179);
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
  padding: 15px;
  .connect-btn {
    background-color: #000;
    border-radius: 25px;
    cursor: pointer;
    visibility: hidden;
    padding: 6px 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media-info {
    display: flex;
    align-items: center;
    width: 100%;
    .media-text {
      padding-left: 15px;
      width: 100%;
      .followers-count-input {
      }
    }
  }
}
.media-wrapper:hover {
  .connect-btn {
    visibility: visible;
  }
}

.Or-seperator {
  color: #aaaaaa;
  font-size: 16px;
  text-align: center;
  padding: 20px 0px;
}

.verification-section {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  margin: 25px 0px;
  width: 100%;
  .id-text {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  .id-image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    background-color: #000;
  }
  .id-choose {
    background-color: #000;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .select-cv-input {
    display: none;
  }
}
.verification-status {
  text-align: end;
  color: red;
}
.signup-btn-section {
  margin-bottom: 100px;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .signup-btn {
    background-color: #c2114b;
    border-radius: 14px;
    cursor: pointer;
    padding: 6px 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}

/* 481px — 768px: iPads, Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .verification-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .id-text {
      padding: 26px 0px;
    }
    .select-cv-input {
      display: none;
    }
  }
}
/* 769px — 1024px: Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .adult-main {
    width: 100%;
    .kids-form-row {
      display: flex;
      justify-content: unset;
      flex-direction: column;
      .kids-form-section {
        width: 100%;
      }
    }
  }
}
/* 1025px — 1200px: Desktops, large screens */

@media (min-width: 1025px) and (max-width: 1200px) {
  .adult-main {
    width: 100%;
    .kids-form-row {
      display: flex;
      justify-content: unset;
      flex-direction: column;
      .kids-form-section {
        width: 100%;
      }
    }
  }

  .kids-form {
    padding-left: 0px !important;
  }
}

@media (max-width: 1200px) {
  .kids-form {
    padding-left: 0px !important;
  }
  .kidsform-one .kids-wrapper {
    margin: 25px 30px;
    display: flex;
  }
  .media-wrapper {
    margin: 10px 0px !important;
  }
}

.elipsis-icon {
  padding: 10px;
}

// .modal-backdrop.show {
//   opacity: 0.5 !important;
// }

.talent-dashboard-main {
  padding: 80px 30px;
  background-color: #eee;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-fluid .row .talent-column-one {
    margin-right: 0px;
    padding: 10px 20px;
  }

  .container-fluid
    .row
    .talent-column-one
    .recent-gigs-main
    .recent-gigs-wrapper
    .recent-settwo
    .recent-gigs-count-wrapper {
    padding-right: 0px;
  }

  .container-fluid
    .row
    .talent-column-one
    .recent-gigs-main
    .recent-gigs-wrapper
    .recent-settwo
    .recent-gigs-count-wrapper
    .recent-gigs-logo {
    width: 30px;
    height: 30px;
  }

  .container-fluid
    .row
    .talent-column-one
    .recent-gigs-main
    .recent-gigs-wrapper
    .recent-settwo
    .recent-gigs-count-wrapper
    .recent-gig-count-details
    .recent-gigs-count {
    color: #c2114b;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .container-fluid
    .row
    .talent-column-one
    .recent-gigs-main
    .recent-gigs-wrapper
    .recent-settwo {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
  }

  .container-fluid
    .row
    .talent-column-one
    .recent-gigs-main
    .recent-gigs-wrapper
    .recent-settwo
    .recent-gigs-count-wrapper {
    display: flex;
    align-items: center;
    padding-right: 30px;
    flex: 1;
  }

  .add-more-services {
    padding: 20px 0px;
    margin-bottom: 100px;
  }
  .add-more-services .add-more-services-btn {
    width: 50%;
  }

  .cv-section {
    margin: 15px 0px;
  }
  .rich-editor {
    margin-bottom: 30px !important;
  }

  .upload-info {
    text-align: center;
    padding: 15px;
  }

  .recent-setone {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .recent-gig-company {
    padding-top: 10px;
  }
  .talent-column-one {
    // margin: 15px;
    width: 100%;
  }
  .talent-column-two {
    // margin: 15px;
    width: 100%;
  }
  .recent-settwo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    .recent-gigs-count-wrapper {
      margin: 10px;
    }
  }

  .talent-popup-title {
    font-size: 17px;
  }

  .talent-popup-enter {
    font-size: 18px;
    padding: 20px 0px;
  }
  .talent-popup-span {
    color: #c2114b;
    font-size: 18px;
    padding: 25px 0px;
  }

  .talent-popup-description {
    font-size: 16px;
    padding: 20px 0px;
  }

  .doitnow-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .doit-one {
      width: 100%;
      padding-right: 40px;
    }
    .doit-two {
      width: 100%;
    }
  }
  .adult-img-img {
    display: none;
  }
  .dynamic-profession {
    flex-wrap: wrap;
  }
  .profession-input {
    margin-right: 0px;
  }
  .rich-editor {
    margin-bottom: 30px;
  }
  .profession-content-section {
    margin-bottom: 10px;
  }
  .profession-input {
    max-width: 160px;
  }
  .adult-form-wrapper {
    margin: 20px 25px;
    display: flex;
    flex-direction: column;
  }
  .adult-main {
    width: 100%;
    padding-left: 0px;
    .kids-form-row {
      display: flex;
      justify-content: unset;
      flex-direction: column;
      .kids-form-section {
        width: 100%;
      }
    }
  }
  .verification-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .id-text {
      padding: 26px 0px;
    }
    .select-cv-input {
      display: none;
    }
  }

  .talent-dashboard-main {
    padding: 80px 20px;
    background-color: #eee;
  }
}

.apply-now-btn {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-color: green;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .bi-briefcase-fill,
  .bi-eye-fill {
    font-size: 14px;
    padding-right: 10px;
  }
}

.view-gig-btn {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background-color: #c2114b;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  .bi-eye-fill {
    font-size: 14px;
    padding-right: 10px;
    width: unset;
    height: unset;
    cursor: pointer;
  }
}

.recent-set-three {
  margin: 20px 0px;
  display: flex;
  justify-content: end;
}
