.font-styles {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.talent-navbar-functions .menu-items > div.navTxt {
  padding-right: 30px;
}
.talent-header-main {
  // background-color: aqua;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0 20px;
  z-index: 101;
  box-shadow: 0px 4px 4px rgba(201, 201, 201, 0.5);
  .leftPart {
    display: flex;
    align-items: center;
    .telent-menubar {
      border: 1px solid #66666659;
      padding: 5px;
      min-width: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 60px;
      min-height: 34px;
      cursor: pointer;
    }
  }
  .talent-nav-logo {
    padding: 0;
    cursor: pointer;
    margin: 0 15px 0 0;
  }
  .talent-menu {
    display: flex;
    align-items: center;
    .mydashboard {
      font-size: 16px;
      padding-left: 20px;
      cursor: pointer;
    }
    .telent-menubar {
      .fa-bars {
        font-size: 14px;
        color: #c2114b;
      }
    }
  }
  .talent-navbar-functions {
    display: flex;
    align-items: center;
    justify-content: end;
    .talent-seacrh-bar {
      width: auto;
    }
    .talent-notification,
    .talent-chat-icon {
      padding: 0px 8px;
      svg {
        cursor: pointer;
        height: 20px;
        width: auto;
      }
    }
    .talent-profile-icon {
      border: 1px solid #ddd;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #eee;
      img {
        min-width: 50px;
        min-height: 50px;
        max-width: 100%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

// .talent-header-main {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 1px;
//   background-color: #ffffff;
// }

// @media (max-width: 1500px) {
//   .search-bootstrap {
//     padding-right: 15px;
//     width: 100%;
//   }
// }
// @media (min-width: 1025px) and (max-width: 1200px) {
//   .search-bootstrap {
//     width: 100% !important;
//   }
// }

// @media (min-width: 769px) and (max-width: 1024px) {
//   .search-bootstrap {
//     width: 100% !important;
//   }
// }

// @media (min-width: 481px) and (max-width: 768px) {
//   .search-bootstrap {
//     width: 100% !important;
//   }
// }

@media (min-width: 320px) and (max-width: 768px) {
  .mydashboard {
    display: none;
  }
  .talent-header-main .talent-menu {
    padding-left: 20px;
  }
}

////////notification****************

.notification-bell-wrapper {
  padding: 0;
  margin-left: 10px;
}

.search-header-icon {
  padding: 0 15px;
}

.chat-icon-header {
  padding: 0 40px 0 15px;
}

.notification_wrap .notification_icon {
  position: relative;
  padding: 0px 8px;
  width: auto;
}

.notification_wrap .notification_icon .bi-bell {
  cursor: pointer;
  font-size: 20px;
}
.talent-navbar-functions .talent-chat-icon {
  min-height: 27px;
}
.notification_wrap .notification-dropdown {
  width: 350px;
  overflow: scroll;
  max-height: 400px;
  background: #fff;
  border-radius: 0px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
  position: absolute;
  top: 75px;
  right: 103px;
  display: none;
  overflow-x: hidden;
}

.notification_wrap .notification-dropdown .notify_item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #dbdaff;
  cursor: pointer;
}

.notification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #dbdaff;
  background-color: #c2114b;
}

.notification-message-text {
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.notification-close {
  color: #ffffff;
  cursor: pointer;
}

.notification_wrap .notification-dropdown .notify_item:last-child {
  border-bottom: 0px;
}

.notification_wrap .notification-dropdown .notify_item .notify_img {
  margin-right: 15px;
}

.notification-user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.notification_wrap .notification-dropdown .notify_item .notify_info p {
  margin-bottom: 5px;
}

.notification_wrap .notification-dropdown .notify_item .notify_info p span {
  color: #605dff;
  margin-left: 5px;
}

.notification_wrap
  .notification-dropdown
  .notify_item
  .notify_info
  .notify_time {
  color: #c5c5e6;
  font-size: 12px;
}

.notification_wrap .notification-dropdown:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 76%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent #c2114b transparent;
  // border: 1px solid #c2114b;
}

.notification_wrap .notification-dropdown.active {
  display: block;
  border: 1px solid #d3d3d3;
}

p {
  margin-bottom: 0px !important;
}

.header-search-wrapper {
  border: 1px solid #c9c9c9;
  height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0px 17px;
  // margin: 0 0 0 10px;
  .header-search-input {
    .header-search-input-style {
      height: 40px;
      border-color: #ffffff;
      border: none;
      outline: none !important;
      font-size: 14px;
    }
  }
  .header-search-icon {
    padding-right: 15px;
    .fa-search {
      color: #c9c9c9;
      cursor: pointer;
    }
    .fa-search:hover {
      color: #c2114b;
    }
  }
  .header-filter-icon {
    padding: 0 0 0 5px;
    .filter-icon {
      color: #c9c9c9;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
    .filter-icon:hover {
      color: #c2114b;
    }
  }
}

.search-filter-section {
  width: 450px;
  .search-labels {
    color: #c9c9c9;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0px;
  }
}

.search-popup-btn {
  color: #c2114b;
}

.navTxt {
  padding-right: 30px;
  font-size: 14px;
  font-weight: 400;
}

.nav-item {
  color: #000;

  font-size: 16px;
}
