.plan-main {
  margin: 0 0 35px 0;
  width: 100%;
}

.kids-pan-section {
  margin-top: 30px;
}

.plans-wrapper {
  width: 100%;
  border-radius: 20px;
  padding: 20px 40px 30px;
  background: #fff;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  height: auto;
  min-height: 97%;

}
.plans-section .col-md-4:first-child{
  width: 29%;
}
.plans-section .col-md-4:nth-child(2), .plans-section .col-md-4:nth-child(3) {
  width: 35.5%;
}
.bordered {
  border: 3px solid #c2114b !important;
}

.subscribe-wrapper {
  border: none !important;
}

.choose-btn {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.free-plans .choose-btn, .plans-section .col-md-4:first-child .choose-btn{
  background-color: #AB7E13;
  color: #fff;
}
.pro-plans .choose-btn, .plans-section .col-md-4:nth-child(2) .choose-btn{
  background-color: #5F2895;
  color: #fff;
}
.premium-plans .choose-btn, .plans-section .col-md-4:nth-child(3) .choose-btn{
  background-color: #0b70db;
  color: #fff;
}

.subscriptions-wrapper .col-md-4:first-child .plans-wrapper {
  border-top: 11px solid #AB7E13 !important;
}
.subscriptions-wrapper .col-md-4:nth-child(2) .plans-wrapper {
  border-top: 11px solid #5F2895 !important;
}
.subscriptions-wrapper .col-md-4:nth-child(3) .plans-wrapper {
  border-top: 11px solid #0b70db !important;
}

.subscriptions-wrapper  .plan-name {  min-height: 55px; }

.subscribe-form{
  margin-bottom: 50px;
}

.subcribe-gift {
  color: #c2114b !important;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.25px;
  padding-bottom: 20px;
}
.disabled-plan {
  opacity: 0.5;
  cursor: unset !important ;
}
.first-plan-choose {
  margin-top: 64px !important;
}

.explore-info {
  padding: 10px 0px;
}

.fixImgs{
  position: relative;
}

.fixImgs .kids-image-sticky {
  position: fixed;
  max-width: 100%;
  object-fit: cover;
  width: 19.5%;
}





@media only screen and (max-width: 1399px) {
  .fixImgs .kids-image-sticky {
    width: 19%;
  }
}
@media only screen and (max-width: 1199px) {
  .kids-form.col-md-8 {
    padding-left: 3%;
  }
}
@media only screen and (max-width: 1149px) {
  .kids-form.col-md-8 {
    padding-left: 10px;
    width: 100%;
  }



}

@media only screen and (max-width: 767px) {
  .kidsform-one .kids-wrapper .kids-form .kids-form-title::after {
    width: 37%;
    margin-left: 15px;
  }

  .plans-section .col-md-4:first-child, .plans-section .col-md-4:nth-child(2), .plans-section .col-md-4:nth-child(3) {
    width: 100%;
  }
  .priceHeight { min-height: 80px; }

  
}