.otp-form > input {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid #b1a8a8;
}
.otp-main {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.adult-otp-main {
  display: flex;
  justify-content: center;
  margin: 115px 0 35px;
  min-height: 78vh;
  align-items: center;
}
.otp-container {
  width: 400px;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 26px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.adults-otp-container {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 26px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otp-logo {
  position: absolute;
  background-color: #fff;
  top: -30px;
  padding: 0 20px;
}
.adult-otp-logo {
  position: absolute;
  background-color: #fff;
  top: -32px;
  padding: 0 10px;
}
.otp-logo .btLogo {
  cursor: pointer;
  width: auto;
  height: 47px;
}
.otp-title {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 0;
  margin: 25px 0 15px;
}
.bold-otp {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding: 30px 0 15px 0;
  margin-right: 8px;
  padding: 6px 10px;
  border-radius: 12px;
}
.otp-mail {
  color: #c2114b;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 17px 0;
}
.verify-otp {
  min-height: 50px;
  border-radius: 60px;
  border: 1px solid #fff;
  background: #c2114b;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 30px 0;
  width: 100%;
}
.otp-info {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin: 10px 0;
}
.back-wrapper {
  color: #c2114b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  margin: 10px 0;
  cursor: pointer;
}
.otp-info span {
  color: #069eed;
  text-decoration: underline;
  cursor: pointer;
}
.otp-back {
  cursor: pointer;
  color: #c2114b;
  text-decoration: underline;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 15px 0 0 0;
  width: 100%;
}
.disabled-otp {
  background: #ccc;
  cursor: not-allowed;
}
@media (max-width: 480px) {
  .otp-container {
    width: 90%;
    height: auto;
    border: 1px solid #aaa;
    border-radius: 26px;
    padding: 30px 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adult-otp-main {
    margin-bottom: 35px;
  }
  .otp-form > input {
    margin: 0 5px;
  }
  .otp-title {
    margin: 15px 0;
  }
  .verify-otp {
    margin: 30px 0 15px;
  }
  .otp-info {
    font-size: 13px;
  }
}
